<script setup>
import { ref } from 'vue';
import { formatMessage } from 'devextreme/localization';
import Tabs from './../components/Tabs.vue';
import Breadcrumbs from '../components/Breadcrumbs.vue';
import Panel from './../components/Panel.vue';
import { DxResponsiveBox, DxCol, DxRow, DxItem, DxLocation } from 'devextreme-vue/responsive-box';
import DxToolbar, { DxItem as ToolbarItem } from 'devextreme-vue/toolbar';
import { useRouter } from "vue-router";
const router = useRouter();

</script>

<template>
    <div>Hello world!</div>
</template>