<script setup>
import { ref, onBeforeMount, onMounted, h } from "vue";
import 'devextreme/dist/css/dx.common.css';
import 'devextreme/dist/css/dx.light.css';
import ExamQuestionsOverview from './pages/ExamQuestionsOverview.vue';
import { formatMessage, loadMessages, locale } from 'devextreme/localization';
import { useRouter, useRoute } from "vue-router";

const router = useRouter();
const route = useRoute();

onBeforeMount(async () => {
  router.addRoute({ path: '/overview', component: ExamQuestionsOverview });
  
  if (route.fullPath === '/') {
    router.push({ path: '/overview' });
  }
  else {
    router.push({ path: route.fullPath });
  }

});

</script>

<template>
  <div class="view-port">
    <router-view />
  </div>
</template>

<style>
#exam-questions-app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
}
</style>
