<script setup>
const props = defineProps({    
    items: Array
})
</script>

<style scoped>
.breadcrumbs {
    font-size: 11px;
    padding: 0 15px 0 30px;    
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid #ffffff;
    height: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 8px #cccccc !important;
}

.breadcrumbs {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #f7f7f7 url("../assets/Breadcrumbs_home.png") no-repeat 10px 9px;
}

.breadcrumbs a {
    display: inline-block;
    color: #009fe3;
    padding: 5px 20px 5px 0;
}

.breadcrumbs a {
    background: url(../assets/Breadcrumbs_separator.png) no-repeat right center;
    margin-right: 10px;
}

.breadcrumbs a:hover {
    text-decoration: none;
}

.breadcrumbs span {
    color: #666;
    display: inline-block;
    padding-top: 5px;
}

</style>
<template>
    <div>
        <div class="breadcrumbs">
            <a href="/cm/Default.aspx">Dashboard</a>
            <template v-for="(index) in items.length - 1" :key="index">                
                <router-link :to="items[index-1].href">{{ items[index-1].text }}</router-link>  
            </template>            
            <span>{{ items[items.length - 1].text }}</span>
        </div>
    </div>
</template>