<script setup>
const props = defineProps({
    text: String
})
</script>

<style lang="scss" scoped>
 @import "../theme.scss";
.panel h3 {
    background-color: $base-color;
    border-color: $base-color;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    text-align: left;
}

.panel h3 span {
    padding: 6px 6px;
    display: block;
}

/* .widgetbox h3.arrow span {
    background: url(../images/toggle.png) no-repeat right center;
    background-color: #009fe3;
} */
</style>
<template>
    <div class="panel">
        <h3 style="border-radius:3px 3px 0px 0px;">
            <span>{{ text }}</span>
        </h3>
    </div>
</template>