<script setup>
const props = defineProps({
    items: Array,
    selectedIndex:{
        type:Number,
        default:0
    }
})
</script>

<style lang="scss" scoped>
 @import "../theme.scss";
.tabmenu {
    clear: both;
    line-height: 21px;
    position: absolute;
    top: 44px;
    z-index: 1;
    margin-right: 250px;
}

.tabmenu ul {
    list-style: none;
}

.tabmenu ul li {
    color: #222222;
    display: inline-block;
    position: relative;
    background: #eeeeee;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 14px 0 0;
    text-shadow: none !important;
    margin-right: 5px;
    border-bottom: 0;
}

.tabmenu ul li:first-child {
    margin-left: 0;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 14px 0 0;
}

.tabmenu ul li:last-child {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 14px 0 0;
}

.tabmenu ul li a {
    display: inline-block;
    color: #222222;
    text-shadow: none !important;
    background: none;
    background: url(../images/separator.png) no-repeat;
}

.tabmenu ul li a:hover {
    text-decoration: none;
}

.tabmenu ul li:last-child a {
    background: none;
}

.tabmenu ul li:hover {
    background: #e5e5e5;
}

.tabmenu ul li:hover a {
    color: #555;
}

.tabmenu ul li span {
    display: block;
    padding: 9px 15px 7px 15px;
    font-size: 12px;
    text-shadow: none !important;
    font-weight: bold;
    border-bottom: 0;
}

.tabmenu ul li.current {
    background: #eee;
    color: $base-color;
    text-shadow: none !important;
    border-radius: 3px 14px 0 0;
}

.tabmenu ul li.current a {
    color: #ffffff;
    background: $base-color;
    text-shadow: none !important;
    border-radius: 3px 14px 0 0;
}

.tabmenu ul li.current span {
    text-shadow: 1px 1px #fcfcfc;
    border-bottom: #eeeeee 1px solid;
}

.tabmenu ul li a.relation span {
    background: none;
}

.tabmenu ul li.current a.relation span {
    background: none;
}

.tabmenu ul li a.administraties span {
    background: none;
}

.tabmenu ul li.current a.administraties span {
    background: none;
}

.tabmenu ul li a.medewerkers span {
    background: none;
}

.tabmenu ul li.current a.medewerkers span {
    background: none;
}

.tabmenu ul li a.settings span {
    background: none;
}

.tabmenu ul li.current a.settings span {
    background: none;
}

.tabmenu ul li a.reports span {
    background: none;
}

.tabmenu ul li.current a.reports span {
    background: none;
}

.tabmenu ul li a.claims span {
    background: none;
}

.tabmenu ul li.current a.claims span {
    background: none;
}

.tabmenu ul li a.schedule span {
    background: none;
}

.tabmenu ul li.current a.schedule span {
    background: none;
}

.tabmenu ul li a.dashboard span {
    background: none;
}

.tabmenu ul li.current a.dashboard span {
    background: none;
}

.tabmenu ul li a.import span {
    background: none;
}

.tabmenu ul li.current a.import span {
    background: none;
}

.tabmenu ul li a.export span {
    background: none;
}

.tabmenu ul li.current a.export span {
    background: none;
}

.tabmenu ul li a.case span {
    background: none;
}

.tabmenu ul li.current a.case span {
    background: none;
}

.tabmenu ul li a.mail {
    background: none;
}

.tabmenu ul li.current a.mail span {
    background: none;
}

.tabmenu ul li a.workflows span {
    background: none;
}

.tabmenu ul li.current a.workflows span {
    background: none;
}
</style>
<template>
    <teleport to="#tabcontainer">
        <div class="tabmenu">
            <ul>
                <template v-for="(item,index) in items" :key="index">
                    <li class="contentPadding current" v-if="index == selectedIndex">
                        <router-link :to="items[index].href" style="text-decoration: none;"><span>{{items[index].text}}</span></router-link>                      
                    </li>
                    <li v-else>
                        <router-link :to="items[index].href" style="text-decoration: none;"><span>{{items[index].text}}</span></router-link>
                    </li>
                </template>
            </ul>
        </div>
    </teleport>
</template>